In [ ]:
Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.

# Solutions

In [3]:
# Question 1
# Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
# Examples
# is_symmetrical(7227) ➞ True

# is_symmetrical(12567) ➞ False

# is_symmetrical(44444444) ➞ True

# is_symmetrical(9939) ➞ False

# is_symmetrical(1112111) ➞ True


def is_symmetrical(num):
    return str(num) == str(num)[::-1]

is_symmetrical(7227)

True

In [4]:
def is_symmetrical(num):
    return str(num) == str(num)[::-1]

is_symmetrical(12567)

False

In [5]:
def is_symmetrical(num):
    return str(num) == str(num)[::-1]

is_symmetrical(44444444)

True

In [6]:
def is_symmetrical(num):
    return str(num) == str(num)[::-1]

is_symmetrical(9939)

False

In [7]:
def is_symmetrical(num):
    return str(num) == str(num)[::-1]
is_symmetrical(1112111)

True

In [8]:
# Question 2
# Given a string of numbers separated by a comma and space, return the product of the numbers.
# Examples
# multiply_nums("2, 3") ➞ 6

# multiply_nums("1, 2, 3, 4") ➞ 24

# multiply_nums("54, 75, 453, 0") ➞ 0

# multiply_nums("10, -2") ➞ -20


def multiply_nums(nums):
    nums_list = [int(n) for n in nums.split(", ")]
    product = 1
    for n in nums_list:
        product *= n
    return product
multiply_nums("2, 3")

6

In [9]:
def multiply_nums(nums):
    nums_list = [int(n) for n in nums.split(", ")]
    product = 1
    for n in nums_list:
        product *= n
    return product
multiply_nums("1, 2, 3, 4")

24

In [10]:
def multiply_nums(nums):
    nums_list = [int(n) for n in nums.split(", ")]
    product = 1
    for n in nums_list:
        product *= n
    return product
multiply_nums("54, 75, 453, 0")

0

In [11]:
def multiply_nums(nums):
    nums_list = [int(n) for n in nums.split(", ")]
    product = 1
    for n in nums_list:
        product *= n
    return product
multiply_nums("10, -2")

-20

In [12]:
# Question 3
# Create a function that squares every digit of a number.
# Examples
# square_digits(9119) ➞ 811181

# square_digits(2483) ➞ 416649

# square_digits(3212) ➞ 9414

def square_digits(num):
    """
    Squares every digit of a number and returns the result as an integer.
    """
    # convert the number to a string to access each digit
    num_str = str(num)
    # initialize an empty string to store the squared digits
    squared_digits_str = ""
    # iterate over each digit of the number
    for digit in num_str:
        # square the digit and append it to the squared_digits_str
        squared_digits_str += str(int(digit)**2)
    # convert the squared_digits_str back to an integer and return
    return int(squared_digits_str)

square_digits(9119)

811181

In [13]:
def square_digits(num):
    """
    Squares every digit of a number and returns the result as an integer.
    """
    # convert the number to a string to access each digit
    num_str = str(num)
    # initialize an empty string to store the squared digits
    squared_digits_str = ""
    # iterate over each digit of the number
    for digit in num_str:
        # square the digit and append it to the squared_digits_str
        squared_digits_str += str(int(digit)**2)
    # convert the squared_digits_str back to an integer and return
    return int(squared_digits_str)

square_digits(2483)

416649

In [14]:
def square_digits(num):
    """
    Squares every digit of a number and returns the result as an integer.
    """
    # convert the number to a string to access each digit
    num_str = str(num)
    # initialize an empty string to store the squared digits
    squared_digits_str = ""
    # iterate over each digit of the number
    for digit in num_str:
        # square the digit and append it to the squared_digits_str
        squared_digits_str += str(int(digit)**2)
    # convert the squared_digits_str back to an integer and return
    return int(squared_digits_str)

square_digits(3212)

9414

In [15]:
# Question 4
# Create a function that sorts a list and removes all duplicate items from it.
# Examples
# setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

# setify([4, 4, 4, 4]) ➞ [4]

# setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

# setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]


def setify(lst):
    return sorted(list(set(lst)))
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [16]:
def setify(lst):
    return sorted(list(set(lst)))
setify([4, 4, 4, 4])

[4]

In [17]:
def setify(lst):
    return sorted(list(set(lst)))
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [18]:
def setify(lst):
    return sorted(list(set(lst)))
setify([3, 3, 3, 2, 1])

[1, 2, 3]

In [19]:
# Question 5
# Create a function that returns the mean of all digits.
# Examples
# mean(42) ➞ 3

# mean(12345) ➞ 3

# mean(666) ➞ 6



def mean(num):
    digits = [int(digit) for digit in str(num)]
    return sum(digits)/len(digits)
mean(42)

3.0

In [20]:
def mean(num):
    digits = [int(digit) for digit in str(num)]
    return sum(digits)/len(digits)
mean(12345)

3.0

In [21]:
def mean(num):
    digits = [int(digit) for digit in str(num)]
    return sum(digits)/len(digits)
mean(666)

6.0

# End